body {
    margin: auto;
    width: 100%;
    background-color: grey;
    font-family: Roboto;
}

.main-header {
    background-color: #f2e8f0;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    
}

.main-header figure {
    margin: auto;
}

.main-header img {
    width: 25%;     
}

.dropdownmenu {
    margin: auto;
}

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: grey;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
    background: #000000;
}

.fa-toolbox {
    margin-right: 10px;
}


#btnCustom {
    width: 14em;
    background: grey;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    box-shadow:1px 1px 3px #999;
    transition: all .25s ease;
   
}

#btnCustom:hover {
    background-color: black;

}

h1 {
    text-align: center;
}

#product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
      margin: 25px;
     
   

}

.product {
    display: flex;
    background-color: #f2e8f0;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.product img {
    width: 386px;
    height: auto;
    border: 3px solid;
    border-color: #f2e8f0;
}

.productInfo {
    margin-right: 1rem;
    align-self: center;
}

.product button {
    
    
    margin-bottom: 2rem;
}

.image {
    margin: 1rem!important;
}

figure {
    margin: auto;
}





footer {
    background-color: #f2e8f0;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width:100%;
}

.mentions, .contact {
    margin: 1rem;
}

@media (min-width: 200px) and (max-width:314px) {
    .product {
        flex-direction: column;
    }

    .product img {
        width: 180px;
        height: auto;
    }

    .productName, .productInfo, #price {
        text-align: center;
        margin-right: 0;
    }
}

@media (min-width: 314px) and (max-width:650px) {
    .product {
        flex-direction: column;
    }

    .product img {
        width: 250px;
        height: auto;
    }

    .productName, .productInfo, #price {
        text-align: center;
        margin-right: 0;
    }
}