<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Oribear, site d'achat et de personalisation d'oursons en peluche">
        <link rel="stylesheet" href="../css/order.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/43d8b34d85.js" crossorigin="anonymous"></script>
        <title>Confirmation de commande - Oribear</title>
    </head>

    <body>
        <header class="main-header">
            <figure>
                <a href="index.html">
                    <img src="../img/logo_final.jpg">
                </a>
            </figure>
            <nav class="dropdownmenu">
                <ul>
                    <li>
                        <a href="index.html">Acceuil</a>
                    </li>
                </ul>
            </nav>    
        </header>
        <div class="head">
            <h1> Oribear vous remercie pour votre commande !</h1>
        </div>
        <main id="confirmationInfo"></main>

        <footer class="main-footer">
            <div class="mentions">Mentions légales</div>
            <div class="contact">Contact</div>    
        </footer>

        <script type="text/javascript" src="../model/Order.js"></script>
        <script type='text/javascript' src="../repository/OrderRepository.js"></script>
        <script type='text/javascript' src="../viewmodel/OrderView.js" ></script> 
    
    </body>
</html>