<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Oribear, site d'achat et de personalisation d'oursons en peluche">
        <link rel="stylesheet" href="../css/product.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/43d8b34d85.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <title>Oribear</title> 
    </head>
    <body>
        <header class="main-header">
            <figure>
                <a href="index.html">
                    <img src="../img/logo_final.jpg">
                </a>
            </figure>
            <nav class="dropdownmenu">
                <ul>
                    <li>
                        <a href="cart.html">Mon panier</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="backToList">
                <button onclick='location.href="index.html"'><i class="fas fa-arrow-circle-left"></i>Continuer mes achats</button>
            </div>

            <section id="container">
                <div id="productCustom"></div>
            </section>
            
            <div class="checkout" id="addBtn">
                <button 
                    type="button"
                    id="panier";
                    onclick="";
                    class="btn btn-add";>
                        <i class="fas fa-shopping-cart icon-card"></i>
                        Ajouter au panier
                </button>   
            </div>
        </div>

        <footer class="main-footer">
            <div class="mentions">Mentions légales</div>
            <div class="contact">Contact</div>
        </footer> 

        <script type='text/javascript' src="../model/Product.js" ></script>
        <script type='text/javascript' src="../model/Cart.js" ></script>
        <script type='text/javascript' src="../repository/CartRepository.js"></script>
        <script type='text/javascript' src="../repository/ProductRepository.js" ></script>
        <script type='text/javascript' src="../viewmodel/ProductView.js" ></script>
            
    </body>
</html>